h1 {
    color: rgb(38, 255, 0);
    text-align: right;
}

h2 {
    color: rgb(0, 169, 0);
    text-align: center;
    width: 300px;
    margin: 0 auto;

}

p {
    width: 300px; 
    text-align: justify; 
}

table {
    width: 500px; 
    height: auto; 
    color: rgb(255, 102, 0);
}

th {
    text-align: left; 
}

td {
    text-align: center; 
}
